﻿@page
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "utf-8">
		<title>Scenegraph Client</title>
		<style>
			body { margin: 0; }
		</style>

		<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

		<script type="importmap">
		{
			"imports": {
			"three": "https://unpkg.com/three@0.152.2/build/three.module.js",
			"three/addons/": "https://unpkg.com/three@0.152.2/examples/jsm/"
			}
		}
		</script>
	</head>
	<body>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
    	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/signalr/dist/browser/signalr.js"></script>
    	<script type = "module" src="~/js/site.js"></script>
	</body>
</html>